<br><h1>Table</h1><br>

<table mat-table [dataSource]="dataSource">
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Category Name </th>
    <td mat-cell *matCellDef="let category"> {{ category.name }} </td>
  </ng-container>

  
  <ng-container matColumnDef="words">
    <th mat-header-cell *matHeaderCellDef> Number of Words </th>
    <td mat-cell *matCellDef="let category"> {{ category.words.length }} </td>
  </ng-container>

  
  <ng-container matColumnDef="lastModified">
    <th mat-header-cell *matHeaderCellDef> Last Modified </th>
    <td mat-cell *matCellDef="let category"> {{ category.lastModified | date:'short' }} </td>
  </ng-container>

  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let category">
      <a mat-icon-button color="primary" (click)="editCategory(category)">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button color="warn" (click)="openDialog(category)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'words', 'lastModified', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'words', 'lastModified', 'actions']"></tr>
</table><br><br>
<a [routerLink]="['/form']">
  add category
</a>
